{% if site.stackoverflow %}
	<div class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Linked In</h1>
		</div>
		<div class="content-rounded-panel">
			<div id="stackScore">
				<a target='_blank' href="{{site.stackoverflow.profileurl}}">
					<img src="{{site.stackoverflow.flairimageurl}}" width="400" height="400" 
						alt="profile at Linked In, Q&amp;A for professional and enthusiast programmers" 
						title="profile at Linked In, Q&amp;A for professional and enthusiast programmers">
				</a>
			</div>
		</div>
	</div>
{% endif %}
