<div class="card card-primary card-outline">
	<div class="card-header">

		<h5>Areas of interest</h5>
	</div>
	<div class="card-body m-2">


		{% for skill in site.skills %}

		<label class="text text-muted">{{skill.name}}</label>
		<div class="progress progress-sm">

			<div class="progress-bar bg-success progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="{{skill.value}}" style="width: {{skill.value}}">
			</div>
		  </div>
		{% endfor %}

	</div>
	<!-- /.card-body -->
</div>
<!-- /.card -->