<div class="card card-primary card-outline">
    <div class="card-header">

        <i class="fas fa-paperclip mr-1"></i>
        <h5>Projects</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <!-- The time line -->

                <div class="timeline">

                {% for proj in site.project %}
                    <!-- timeline time label -->
                    <!-- /.timeline-label -->
                    <!-- timeline item -->
                    <div>
                        <i class="fas fa-bug bg-blue"></i>
                        <div class="timeline-item">
                            
                            <span class="time"><i class="fas fa-clock"></i> {{proj.date}}</span>
                            <h3 class="timeline-header"><a href="#">{{proj.p_title}}</a></h3>
                            <div class="timeline-body">
                                <i class="text-muted">{{proj.discription}}</i>
                                <i class="m-1 info-box-number"></i>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>