<div class="card card-primary card-outline">
    <div class="card-header">
        <h5>Employment History</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <!-- The time line -->

                <div class="timeline">

                    {% for work in site.work %}
                    <!-- timeline time label -->
                    <div class="time-label">
                        <span class="bg-red">
                            {{work.j_title}}
                        </span>
                    </div>
                    <!-- /.timeline-label -->
                    <!-- timeline item -->
                    <div>
                        <i class="fas fa-building bg-blue"></i>
                        <div class="timeline-item">
                            
                            <span class="time"><i class="fas fa-clock"></i> {{work.date}}</span>
                            <h3 class="timeline-header"><a href="#">{{work.employer}}</a>, {{work.city}}</h3>
                            <div class="timeline-body">
                                {{work.discription}}
                                <i class="m-1 info-box-number"></i>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>