<div class="card card-primary card-outline">
  <div class="card-header">
    <h5>Educational Qualifications</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <!-- The time line -->
        <div class="timeline">
		

          {% for edu in site.education %}
          <!-- timeline time label -->
          <div class="time-label">
            <span class="bg-red">
              {{edu.level}}</span>
          </div>
          <!-- /.timeline-label -->
          <!-- timeline item -->
          <div>
            <i class="fas fa-graduation-cap bg-blue"></i>
            <div class="timeline-item">
              <h3 class="timeline-header"><a href="#">{{edu.subject}}</a></h3>
            </div>
          </div>
		  <div>
            <i class="fas fa-university bg-blue"></i>
            <div class="timeline-item">
              <div class="timeline-body">
                <b class="text-muted">{{edu.university}},</b>
                <br/>
                <b class="text-muted">{{edu.school}}</b>
              </div>
            </div>
          </div>
		  <div>
            <i class="fas fa-calendar-alt bg-blue"></i>
            <div class="timeline-item">
              <h3 class="timeline-header">
                <b class="text-muted text-sm">{{edu.date}}</b>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
		</div>
      </div>
      <!-- /.col -->
    </div>
  </div>
</div>