{% if site.contactways %}
	<div class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Contact Details</h1>
		</div>
		<div class="content-rounded-panel">
			<div id="stackScore">
				<a target='_blank' href="{{site.contactways.profileurl}}">
					<img src="{{site.contactways.flairimageurl}}" width="200" height="200" 
						alt="profile at Linked In, Q&amp;A for professional and enthusiast programmers" 
						title="profile at Linked In, Q&amp;A for professional and enthusiast programmers">
				</a>
			</div>
			<br/>
			<a target='_blank' href="mailto:{{site.contactways.email}}">{{site.contactways.email}}</a>
			<br/>
			<a target='_blank' href="">{{site.contactways.phone}}</a>
		</div>
	</div>
{% endif %}
